:root {
  font-size: 20px;
}

html {
  background-color: #1b1e21;
}

body {
  width: 900px;
  margin: 0 auto;
  background-color: #495259;
  padding: 20px 20px 20px;
  border: 20px ridge rgb(4, 4, 108);
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #BEC4C6;
  margin: 0 auto;
  padding: 20px 0;
  text-shadow: 6px 6px 10px #1b1e21;
}

h2 {
  font-family:'Times New Roman', Times, serif;
  color: #BEC4C6;
  margin: 0 auto;
  padding: 20px 0;
  text-shadow: 5px 5px 10px #1b1e21;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #a4978e;
}

li {
  color: #BEC4C6;
  background-color: #76828e;
  font-family: monospace;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-right: 500px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

summary {
  font-size: xx-large;
}
